@use "helpers/reset";
@use "helpers/mixins" with (
  $defaultDuration: .5s
);


@font-face {
  font-family: "Open Sans";
  src: url("@/fonts/OpenSans-Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Open Sans", system-ui;
  height: 100vh;
  background: #fff url("@/images/example.svg");
}